<!DOCTYPE html>
<!--
   But :    Cette page contient le code html pour afficher un message d'erreur.
   Auteur : Alexis Stella
   Date :   09.06.2020 / V1.0
-->

<!-- div ayant des classe bootstrap pour créer une alerte  -->
<div class="alert alert-danger alert-dismissible fade show" role="alert">

    <!-- Message d'erreur qui est remplit en jquery -->
    <strong>Erreur ! </strong><span id="messageErreur"></span>

    <!-- Bouton de fermeture de l'erreur -->
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
