<!DOCTYPE html>
<!--
   But :    Cette page contient le code html pour afficher un message d'erreur.
   Auteur : Alexis Stella
   Date :   16.02.2021 / V1.0
-->

<!-- div ayant des classe bootstrap pour créer une alerte  -->
<div class="alert alert-success alert-dismissible fade show" role="alert">

    <!-- Message de succès qui est rempli en jquery -->
    <strong>Succès ! </strong><span id="messageSucces"></span>

    <!-- Bouton de fermeture du succès -->
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
