<!DOCTYPE html>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false"></a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" id="profil"><i class="edit icon"></i> Modifier le profil</a>
        <a class="dropdown-item" id="annonces"><i class="list icon"></i> Mes annonces</a>
        <a class="dropdown-item" id="liste-annonces"><i class="list icon"></i> Liste de toutes les annonces</a>
        <a class="dropdown-item" id="liste-utilisateurs"><i class="fas fa-users"></i> Liste de tous les utilisateurs</a>
        <div class="dropdown-divider"></div>
        <button class="btn dropdown-item" onClick="actionDeconnexionUtilisateur()" type="button"><i class="fas fa-sign-out-alt"></i> Déconnexion</button>
    </div>
</li>
