<!DOCTYPE html>

<!--
   But :    Cette page contient le code html pour créer le footer du site. Il est appeler en jquery.
   Auteur : Alexis Stella
   Date :   06.02.2021 / V1.0
-->

<br/><br/><br/><br/>
<!-- balise footer qui permet de créer la base du footer -->
<footer id="page-footer" class="bg-dark text-center ">
    <!-- Copyright -->
    <div class="py-3">Copyright &copy <span id="annee"></span>

        <!-- Developpeur -->
        <span class="orange"><strong>Alexis Stella</strong></span>

    </div>
    <!-- Copyright -->
</footer>