<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/Mangabis/client/index">
            <img src="/Mangabis/client/resources/svg/icon.svg"
                 width="30"
                 height="30"
                 class="d-inline-block align-top"
                 alt="">
            Mangabis
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/Mangabis/client/index">Accueil <span class="sr-only">(current)</span></a>
                </li>
                -->
                <li class="nav-item">
                    <div class="ui search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Rechercher" id="mangaSearchNavbar"/>
                            <i class="search icon"></i>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <div id="connexionSection"></div>
            </ul>

        </div>
    </div>
</nav>
