<!--
   But :    Cette page contient le code html pour la page contenant la liste des annonces de la base de données.
   Auteur : Alexis Stella
   Date :   12.03.2021 / V1.0
-->
<!DOCTYPE html>
<div class="container">
    <h1>Liste des annonces de tous les utilisateurs</h1>
    <hr/>
    <div class="row">
        <div class="col-lg-8 col-centered">
            <br/>
            <ul class="list-group">
                <li class="list-group-item active"><h4>Liste des annonces</h4></li>
                <div id="listeAnnoncesZoneAdmin"></div>
            </ul>
            <br/><br/>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>